OPENROUTER_API_KEY=insert-your-openrouter-key-here
LANGFUSE_PUBLIC_KEY=insert-your-langfuse-public-key-here
LANGFUSE_SECRET_KEY=insert-your-langfuse-secret-key-here
LANGFUSE_HOST=https://challenges.reply.com/langfuse
TEAM_NAME=insert-your-team-name-here
LANGFUSE_MEDIA_UPLOAD_ENABLED=false
